 
  /**
   * Component: Home
   * -------------------------------------------------------------------------- */
  
  :root {
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(
        320deg,
        hsl(355deg 64% 41%) 0%,
        hsl(0deg 46% 54%) 15%,
        hsl(3deg 50% 64%) 25%,
        hsl(4deg 55% 75%) 33%,
        hsl(4deg 60% 85%) 40%,
        hsl(5deg 65% 95%) 47%,
        hsl(225deg 28% 94%) 53%,
        hsl(224deg 28% 82%) 60%,
        hsl(223deg 28% 69%) 66%,
        hsl(221deg 28% 57%) 74%,
        hsl(218deg 35% 45%) 83%,
        hsl(211deg 75% 30%) 100%
      );
  
    --vp-home-hero-image-background-image: linear-gradient(
      145deg,
      hsl(355deg 64% 41%) 0%,
      hsl(358deg 49% 48%) 5%,
      hsl(0deg 46% 54%) 9%,
      hsl(2deg 48% 59%) 14%,
      hsl(3deg 50% 64%) 18%,
      hsl(3deg 53% 69%) 23%,
      hsl(4deg 55% 75%) 27%,
      hsl(4deg 57% 80%) 32%,
      hsl(4deg 60% 85%) 36%,
      hsl(5deg 62% 90%) 41%,
      hsl(5deg 65% 95%) 45%,
      hsl(0deg 0% 100%) 50%,
      hsl(225deg 28% 94%) 55%,
      hsl(225deg 28% 88%) 59%,
      hsl(224deg 28% 82%) 64%,
      hsl(223deg 28% 76%) 68%,
      hsl(223deg 28% 69%) 73%,
      hsl(222deg 28% 63%) 77%,
      hsl(221deg 28% 57%) 82%,
      hsl(220deg 28% 51%) 86%,
      hsl(218deg 35% 45%) 91%,
      hsl(215deg 47% 38%) 95%,
      hsl(211deg 75% 30%) 100%
    );

    --vp-home-hero-image-filter: blur(44px);
  }
  
  @media (min-width: 640px) {
    :root {
      --vp-home-hero-image-filter: blur(56px);
    }
  }
  
  @media (min-width: 960px) {
    :root {
      --vp-home-hero-image-filter: blur(68px);
    }
  }
  


  /* Brendan custom CSS */
  .VPImage {    
    width: 85%; 
    border-radius: 15px; 
    
  }

  #vg-tooltip-element {
    font-family: "Helvetica Light";
    background-color: #000000f8;
    font-size: 16px;
    color: #ffffff;
    border-color: #898989;
    border-width: 0.5px;
    border-radius: 5px;
    line-height: 18px;
    padding: 5px 10px;

  }
  .vega-bind input[type="range"] {
    cursor: pointer;
    width:400px;
    border-radius: 50%;
  }
  .vega-bind-radio input[type="radio"]{
    position: relative;
    opacity: 0.5;
  }
  .vega-bindings input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    font: 'Helvetica Light';
    background: #f9f6f6; /* Track color */
    border: 1px solid #000000;
    border-radius: 5px;
    
  }

  :root {
    --vp-font-family-base: 'Helvetica Light','Helvetica','Chinese Quotes', 'Inter var', 'Inter', ui-sans-serif,
      system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      'Helvetica Neue', Helvetica, Arial, 'Noto Sans', sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --vp-font-family-mono: ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Monaco,
      Consolas, 'Liberation Mono', 'Courier New', monospace;
  }
